[Desktop Entry]
Type=Application
Terminal=true
Name=CCF
Icon=utilities-terminal
Exec=gnome-terminal -e "bash -c 'python3 app.py;$SHELL'"
Categories=Application;